@charset "utf-8";
/* font */

@font-face {
    font-family: 'Pretendard';
    src: url(../font/woff2/PretendardVariable.woff2);
}


/* set */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: Pretendard;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    vertical-align: top;
    border: 0;
    max-width: 100%;
}
.clear::after{
    content: "";
    display: block;
}
.mobile{
    display: none;
}
.navIn span{
    display: none;
}
h2.tit{
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
    color: #664145;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/* wrap */
.wrap{
    width: 100vw;
    height: auto;
    background-color: #f8f8f8;
}
.popup{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10000000;
    background-color: rgba(0,0,0,.3);
}
.popup .bg{
    width: 23.958%;
    height: 300px;
    background-color: #fff;
    margin: 300px auto;
    padding: 50px 60px;
    border-radius: 30px;
}
.popup .bg p{
    font-size: 26px;
    line-height: 35px;
}
.popup .bg a{
    display: inline-block;
    margin-top: 100px;
    font-size: 20px;
    border: 1px solid #999;
    padding: 10px 20px;
    border-radius: 5px;
}

/* header */
#header{
    width: 100vw;
    height: 100px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 10.416%;
    border-bottom: 1px solid #999;
    z-index: 1000000;
}

/* logo */
#logo{
    width: 100px;
    height: 45px;
    float: left;
    margin-top: 25px;
}

/* nav */
.navIn{
    width: 950px;
    height: 100px;
    float: right;
    margin: 0;
}
.navIn ul{
    width: 950px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navIn ul li a{
    font-size: 24px;
    position: relative;
    transition: all .5s;
}
.navIn ul li a::after,
.navIn ul li a::before{
    position: absolute;
    bottom: 0; left: 0;
    content: "";
    width: 0; height: 0;
    transition: all .4s;
}
.navIn ul li a:hover{
    color: #664145;
    opacity: .8;
}
.navIn ul li a:hover:after,
.navIn ul li a:hover:before{
    width: 100%;
    height: 1px;
    background-color: #664145;
    left: 0;
}


/* main */

/* hero */
#hero{
    padding: 160px 23.958% 140px;
}
#hero .box{
    width: 52.083vw;
    height: 700px;
    text-align: center;
    background-color: #fff;
    box-shadow: 5px 5px 10px 2px rgb(0,0,0,.2);
    padding-top: 250px;
}
#hero .h_tit{
    font-size: 55px;
    font-weight: 900;
}
#hero .h_tit span{
    color: #975B61;
}
#hero p{
    font-size: 24px;
    margin: 110px 0 70px
}
#hero .btn{
    display: inline-block;
    width: 250px;
    height: 60px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #664145;
    transition: all .3s;
}
#hero .btn:hover{
    font-size: 22px;
    padding-top: 18px;
}

/* about */
#about{
    width: 100%;
    height: 903px;
    padding: 0 10.416%;
    background-color: #fff;
}
#about>img{
    float: left;
}
#about h2.tit{
    display: inline-block;
    margin: 120px 0 0 70px;
}
#about ul{
    margin-left: 70px;
    display: inline-block;
}
#about ul li{
    font-size: 20px;
    display: flex;
    margin-bottom: 35px;
    align-items: baseline;
    /* gap: 20px; */
}
#about ul li.t,
#about ul li:last-child{
    margin-bottom: 0;
}
#about li p{
    flex-shrink: 0;
    font-weight: 700;
}
#about li span{
    flex-grow: 1;
}
#about li h3.tit{
    font-size: 32px;
    font-weight: 900;
    color: #975B61;
    text-transform: uppercase;
    margin-top: 70px;
}
#about ul.too li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}
#about ul.too li:first-child{
    display: block;
    margin-bottom: 35px;
}

/* web */
#web{
    height: 1200px;
    padding: 120px 200px;
}
#web .tab{
    text-align: center;
    margin-bottom: 50px;
}
#web .tab li{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
#web .tab li:last-child{
    margin-right: 0;
}
#web .tab li a{
    transition: all .3s;
}
#web .tab li:hover a{
    color: #BE6D8B;
}
#web .tab li.on a{
    color: #BE6D8B;
}
#web .mySwiper{
    width: 1520px;
    height: 730px;
    overflow: hidden;
    border-radius: 20px;
}
#web .swiper-slide{
    width: 1520px;
    height: 690px;
    overflow: hidden;
    background-color: #fff;
}
#web .swiper-slide .imgB{
    width: 1060px;
    height: 690px;
    position: relative;
    float: left;
}
#web .swiper-slide .imac{
    top: 50px;
    left: 100px;
    position: absolute;
}
#web .swiper-slide .macb{
    bottom: 50px;
    right: 0;
    position: absolute;
}
#web .swiper-slide .txtB{
    width: 460px;
    height: 690px;
    float: left;
    padding: 100px 20px;
}
#web .swiper-slide .txtB p{
    font-size: 26px;
    margin-bottom: 50px;
}
#web .swiper-slide .txtB p.tit{
    font-size: 36px;
    font-weight: 700;
}
#web .swiper-slide .txtB .tab{
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 1px solid #999;
    font-size: 18px;
    padding: 10px 25px;
    margin: 30px 15px 0 0;
}
#web .swiper-button-next,
#web .swiper-button-prev{
    color: #664145;
}
#web .swiper-pagination-bullet-active{
    background-color: #664145;
}

/* yolo */
#yolo{
    height: 1190px;
    padding: 120px 10.416%;
    background-color: #fff;
    text-align: center;
}
#yolo img{
    display: block;
    width: 1520px;
    height: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #333;
    object-fit: cover;
    object-position: top;
}
#yolo .btn{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #999;
    color: #333;
    width: 120px;
    height: 40px;
    font-size: 18px;
    padding-top: 10px;
    margin: 0 0 10px 10px;
}

/* design */
#design{
    height: 845px;
    padding: 120px 10.416%;
}
#design .tab{
    text-align: center;
    margin-bottom: 50px;
}
#design .tab li{
    display: inline-block;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #664145;
    color: #664145;
    font-size: 20px;
    font-weight: 600;
    padding-top: 9px;
    margin-bottom: 5px;
}
#design .tab li a{
    color: #664145;
    border-color: #fff;
}
#design .tab li.on{
    background-color: #664145;
}
#design .tab li.on a{
    color: #fff;
}
#design .content{
    width: 1520px;
    height: 365px;
    display: none;
    margin: 0 auto;
}
#design .content.on{
    display: block;
}
#design .content li{
    display: inline-block;
    width: 365px;
    height: 365px;
    overflow: hidden;
    cursor: pointer;
}
#design .content li.pop .bg{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    z-index: 1000000;
    padding: 50px 0;
}
#design .content li.pop .imgB{
    display: inline-block;
    width: 500px;
    overflow-y: scroll;
    max-height: 800px;
}
/* #design .content li.pop img{
    width: 500px;
} */
#design .content li.pop .bg a{
    position: absolute;
    top: 50px; right: 37.5%;
    display: block;
    font-size: 40px;
}
body.noS{
    overflow: hidden;
}

/* contact */
#contact{
    height: 560px;
    padding: 120px 10.416%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    background-color: #fff;
}
#contact p{
    font-size: 20px;
    color: #999;
    margin-top: 30px;
}
#contact .left .f_tit{
    font-size: 60px;
    font-weight: normal;
}
#contact .left span a{
    display: block;
    font-size: 35px;
    text-decoration: underline;
    margin: 50px 0;
}
#contact .left p:first-child{
    color: #333;
}


/* mobile */
@media screen and (max-width: 768px){
    .mobile{
        display: block;
    }
    .popup{
        width: 100%;
    }
    .popup .bg{
        width: 89.75%;
    }
    #header{
        padding: 0 20px;
    }
    .navBtn {
        width: 50px;
        height: 50px;
        float: right;
        margin-top: 25px;
        cursor: pointer;
    }
    ion-icon{
        width: 50px;
        height: 50px;
    }
    .navIn{
        display: none;
    }
    .navIn.on{
        display: block;
        z-index: 100000000;
        background-color: #f5f5f5;
        position: fixed;
        top: 0; right: 0; bottom: 0;
        height: auto;
        width: 70%;
    }
    .navIn.on ul{
        width: 100%;
        flex-flow: column;
        height: 700px;
        padding: 100px 50px;
        align-items: start;
    }
    .navIn.on span{
        display: block;
        width: 50px;
        height: 50px;
        float: right;
    }

    /* hero */
    #hero{
        padding: 200px 2.604% 100px;
    }
    #hero .box{
        width: 92vw;

    }

    /* about */
    #about{
        width: 100%;
        padding: 120px 0%;
        height: 2460px;
    }
    #about h2.tit{
        display: block;
        margin: 0 0 100px 0;
    }
    #about>img{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #about ul{
        margin: 0;
        padding: 0 2.604%;
    }
    #about ul.too li:nth-child(5n){
        /* margin-right: 0; */
    }

    /* web */
    #web{
        height: 1540px;
        padding: 120px 4%;
    }
    #web .swiper-button-prev,
    #web .swiper-button-next{
        display: none;
    }
    #web .mySwiper{
        width: 92%;
        height: 1095px;
    }
    #web .swiper-slide{
        width: 100%;
        height: 1055px;
    }
    #web .swiper-slide .imgB{
        width: 100%;
        height: 417px;
    }
    #web .swiper-slide .imac{
        /* width: 72.4%; */
        width: 78.695%;
        /* height: 286px; */
        left: 1%;
    }
    #web .swiper-slide .macb{
        /* width: 64.8%; */
        width: 70.434%;
        /* height: 181px; */
        bottom: 0;
    }

    /* yolo */
    #yolo{
        height: 1227px;
        padding: 120px 0;
    }
    #yolo img{
        width: 460px;
        margin: 20px auto;
    }

    /* design */
    #design{
        height: 940px;
        padding: 120px 0;
    }
    #design .content{
        width: 92%;
        height: 460px;
        margin: 0 auto;
    }
    #design .content li{
        width: 47.826%;
        height: 220px;
    }
    #design .content li.pop .bg a{
        right: 3%;
    }
    #design .content li.pop .imgB{
        width: 92%;
    }

    /* contact */
    #contact{
        height: 870px;
        padding: 120px 4%;
    }
}